body {
  background-image: url("https://cdn.pixabay.com/photo/2017/04/03/15/51/waves-2198764_960_720.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.7);
  background-blend-mode: lighten;
}

.App {
  text-align: center;
  font-family: 'Comic Neue', cursive;
  font-weight: 300;
}

/* bootstrap4 */
.btn:disabled {
  opacity: 0.35;
}

.form-control {
  border: 1px solid #86bdc5;
}

input, .form-control {
  background-color: transparent;
}


